@media only screen and (max-width: 1000px) {
	/*************************
	*** HEADER
	*************************/
	header #barraPesquisaTopo { margin-left: 8%;}
	
	/*************************
	*** INDEX COMUNIDADES
	*************************/
	.top4TopCompleto { margin: 0 0 10px 5px;}

	.top4Topicos .top4top .conteudo,
	.top4TopicosIndex .top4top .conteudo {
		width: 200px;
		height: 170px;
	}

	.indexColunaPrincipal .bordaComunidade .conteudoComunidade { margin-left: 1%;}
	
	.indexColunaPrincipal .bordaComunidade .conteudoComunidade h3 { 
		font-size: 14px;
		margin: -17px 0 0 0;
	}

	/*************************
	*** CRIAR COMUNIDADE
	*************************/
	.areaCriacaoComunidade #caixaCriarCominidade form .previsualisacaoImgCom { margin-left: 17%;}
	
	/*************************
	*** COMUNIDADE TOPICOS
	*************************/
	.comunidadeBarraDireita { margin-right: 1%;}

	.comunidadeBarraDireita .descricaoComunidade,
	.comunidadeBarraDireita .comunidadeStatus,
	.comunidadeBarraDireita .comunidadeModeradores { width: 200px;}

	/*************************
	*** CRIAR TOPICO
	*************************/
	#criarTopicoCaixa #adicionarMidia {
		margin: 10px 0 0 22%;
		font-size: 11px;
	}
	
	/*************************
	*** TOPICO POSTS
	*************************/
	.paginaTopico .topicoPaginaTopico .detalhesUsuario div {
		height: 80px;
		width: 80px;
	}

	.paginaTopico .topicoPaginaTopico .detalhesUsuario div img { width: 80px;}
	
	.paginaTopico .topicoPaginaTopico .conteudoTopico img,
	.paginaTopico .topicoPaginaTopico .conteudoTopico video,
	.paginaTopico .topicoPaginaTopico .conteudoTopico iframe { margin-left: -20px;}
	
	.paginaTopico #postForm textarea { width: 76%;}

	/*************************
	*** EDITAR TOPICO
	*************************/
	.editarTopico .midiaOriginal .visualizacaoMidiaOrig,
	.editarTopico .midiaNova .previsualizacaoMidia { 
		width: 320px;		
		height: 220px;
	}

	.editarTopico .midiaOriginal .visualizacaoMidiaOrig img,
	.editarTopico .midiaOriginal .visualizacaoMidiaOrig video,
	.editarTopico .midiaOriginal .visualizacaoMidiaOrig iframe,
	.editarTopico .midiaNova .previsualizacaoMidia img,
	.editarTopico .midiaNova .previsualizacaoMidia video,
	.editarTopico .midiaNova .previsualizacaoMidia iframe { height: 220px;}

	.editarTopico #adicionarMidia { margin: 253px 0 0 0;}
	
	/*************************
	*** PERFIL
	*************************/
	.informacaoUsuarioEsquerda #modComunCaixa h4 {font-size: 12px;}

	.informacaoUsuarioEsquerda #modComunCaixa #sairModComun form input[type="submit"] {margin-left: 68%;}
	
	.barraTopoPerfil,
	.conteudoPerfil { left: 260px;}
}